#presentacion{
    background-image: url(../images/developer.png);
    background-size: 300px, auto;
    background-position: center top;
    background-repeat: repeat-x;
    background-attachment: scroll;
}

h1{
    background-color: black ;
    color: rgb(66, 135, 245);
    text-align: center;
    font-family: poppins;
    text-transform: uppercase;
    font-size: 75px;
}

img {
    width: 400px;
    height: 400px;
}

a {
    text-align: center;
    color: rgb(66, 135, 245);
    font-family: poppins;
    font-size: 75px;
}

.contacto {
    background-color: black;
    position: relative;
}

.instagram {
 position: absolute;
 right: 55%;
}

.github {
    position: absolute;
    left: 55%;
    
}

.titulosCV {
    color: rgb(66, 135, 245);
    background-color: black;
    background-position: left;
    font-size: 35px;
    font-weight: 400;
    font-family: poppins;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.Datos {
    font-family: poppins;
    font-size: 23px;
    font-weight: bold;
    font-style: italic;
}

.Datos2 {
    font-family: poppins;
    font-size: 23px;
}

section{
    background-color: lightgray;
}

.volver {
    color: rgb(66, 135, 245);
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 10%;

     
}

.botonvolver {
    position: relative;
    top: 50px;
    left: 1750px;
    bottom: 20px;
    right: 500px;
    background-color: black;
    width: 100px;
    height: 50px;
    border: solid, 500px, rgb(66, 135, 245);

}
