body {
    width: 1000px;
    font-family: roboto;
}

.bannerNegro {
    background-color: black;
    color: white;
    height: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    align-items: center;
}

.TextoBannerNegro {
    margin: 2px 25px;
}

.bannerNaranja {
    background-color: #F0A83E;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    margin-left: 15px;
}

.Menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 40px;
    color: white;
    font-size: 15px;
    font-weight: 300;
}

li {
    margin-right: 20px;
}

.ImagenBowl {
background-image: url(images/Bowl-Perro.png);
background-repeat: no-repeat;
width: 100%;
height: 400px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
flex-wrap: wrap;
}

.placer {
    background-color: white;
    height: 43px;
    width: 310px;
    font-size: 25px;
    font-weight: 400;
    border-radius: 5px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comederos {
    background-color:#F0A83E;
    color: white;
    height: 35px;
    width: 130px;
    font-size: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.textos {
    text-align: center;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ProductosDestacados {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.huella {
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: 600;
    color: #3C2313;
    font-size: 40px;
}

.Productos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Churrasquito .Comedero .Huesito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NombreProducto {
    color: #3C2313;
    text-align: center;
}

.PrecioProducto {
    color: #F0A83E;
    text-align: center;
}

.Contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h2 {
    color: #3C2313;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}

.datos {
    background-color: #3C2313;
    background-size: 20px 50px;
    color: white;
    text-align: left;
    border-radius: 15px;
    height: 30px;
    width: 300px;
    font-size: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.boton {
    height: 30px;
    width: 100px;
    color: white;
    margin: 10px;
    font-size: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton.reseteo {
    background-color: grey;
    background-size: contain;
}

.boton.envio {
    background-color: #F0A83E;
    
}

footer {
    display: flex;
    flex-direction: column;
}

.suscripcion {
    background-color: #F0A83E;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suscribite {
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.Emailsuscripcion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.correo {
    background-color: white;
    font-size: 8px;
    color: lightgrey;
    border-radius: 15px;
    height: 40px;
    width: 250px;
    margin-right: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.boton-suscripcion {
    background-color: #3C2313;
    color: white;
    font-size: 12px;
    height: 30px;
    width: 80px;
    margin-right: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner-marron {
    background-color: #3C2313;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.datos-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2px;
    width: 50%;
    margin-top: 25px;
    margin-left: 40px;
}

.location, .telefono, .email {
    display: flex;
    justify-content: space-evenly;
    width: 240px;
    height: 100px;
    margin: 15px, 30px;
}

.iconosFooter {
    height: 60px;
    width: 60px;
    margin: 15px, 20px;
}

.datos1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 200px;
    margin-left: 10px;
}

.titulodatos {
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin: 0px;
}

.datos2 {
    color: grey;
    font-size: 10px;
    font-weight: 400;
    margin: 0px;
}

.logo-footer {
    margin-right: 40px;
}

.banner-negro {
    background-color: black;
    height: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
}
